/* http://coolors.co/454851-73956f-7bae7f-95d7ae-cdc5b4 */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #454851;
    font-family: 'Droid Serif', serif;
    font-size: 15px;
    line-height: 23px;
    margin: 0 0 23px 0;
}

.header {
	background-color: #cdc5b4;
	padding: .5em;
	position: relative;
}

h1 {
	color: #454851;
	font-family: 'Oswald', sans-serif;
    font-weight: 700;
    line-height: 51px;
    font-size: 2em;
    text-transform: uppercase;
    margin: 0;
}

h2 {
	color: #454851;
	font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.125em;
    line-height: 23px;
    margin: 0 0 10px 0;
}

.centered {
	margin: 0 auto;
	max-width: 60em;
}

.content {
	padding: .5em;
}

.error-messages {
	color: #ffa630;
	min-height: 2em;
	opacity: 0;
	-webkit-transition: opacity 1000ms;
}

.error-messages.active {
	opacity: 1;
}

.button {
	background-color: #73956f;
	border: none;
	color: #fff;
	display: inline-block;
	font-family: 'Droid Serif', serif;
	font-size: 1em;
	outline: none;
	padding: .6em 1em;
	text-decoration: none;
}

.modifiers-form {
	display: none;
}

.input-section {
	border-bottom: 5px dotted #73956f;
	color: #FCEFF9;
	margin-bottom: 2em;
	padding-bottom: .5em;
	padding-right: 2.68em;
	position: relative;
}

.input-section-remove {
	background-color: #73956f;
	color: #fceff9;
	display: block;
	font-family: sans-serif;
	font-size: 2em;
	height: 1.125em;
	line-height: 1;
	position: absolute;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: 0;
	width: 1.125em;
}

.input {
	border: none;
	border-radius: 0;
	font-size: 1.125em;
	line-height: 1.85;
	margin-bottom: 0.444444444em;
	outline: none;
	width: 100%;
}

.input-section-modifier select {
	width: 50%;
}