/* http://coolors.co/454851-73956f-7bae7f-95d7ae-fceff9 */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #454851;
    font-family: 'Droid Serif', serif;
    font-size: 15px;
    line-height: 23px;
    margin: 0 0 23px 0;
}

.header {
	background-color: #FCEFF9;
}

h1 {
	color: #454851;
	font-family: 'Oswald', sans-serif;
    font-weight: 700;
    line-height: 51px;
    font-size: 46px;
    text-transform: uppercase;
    margin: 0 0 23px 0;
}

h2 {
	color: #454851;
	font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 23px;
    margin: 0 0 23px 0;
}

.content {
	margin: 0 auto;
	max-width: 60em;
}

.button {
	background-color: #73956F;
	color: #fff;
	display: inline-block;
	padding: .6em 1em;
	text-decoration: none;
}

.input-section {
	margin-bottom: 1em;
}