:root {

	--color-black: #000;
	--color-white: #fff;

	--color-gray-dark: #5c606d;
	--color-gray-darker: #454851;
	--color-gray-darkest: #2e3035;

	--color-beige: #cdc5b4;

	--color-green: #7bae7f;
	--color-green-dark: #5e9862;

	--color-text: var(--color-white);

	--font-family-primary: 'Droid Serif', serif;
	--font-family-secondary: 'Oswald', sans-serif;
	--base-font-size: 1em;

	--page-width: 80rem;
	--spacing-horizontal: 1rem;
	--spacing-vertical: 1.5rem;
	--gutter-width: 1rem;

	--border-radius: 0.25rem;

	--anim-duration: 0.5s;
	--anim-easing: ease-in-out;

}

@custom-media --small (min-width: 30em);
@custom-media --medium (min-width: 48em);
@custom-media --large (min-width: 64em);