<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Input Type Sandbox</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<form class="modifiers-form" id="modifiers-form"></form>
	<form class="input-sections-form">
		<div class="content">
			<header class="header">
				<div class="centered">
					<h1 class="site-name">Input Type Sandbox</h1>
					<h2 class="site-description">Test onscreen keyboards, input types, patterns and attributes.</h2>
					<div class="action-buttons action-buttons-half">
						<button class="button input-section-add">Add an Input</button>
						<button class="button" type="submit">Test Validation</button>
					</div>
				</div>
			</header>
			<div class="centered">
				<div class="messages"></div>
				<div class="input-sections"></div>
			</div>
		</div>
		<footer class="footer">
			<a href="about.html">What is this site?</a>
		</footer>
	</form>

	<script id="input_section_template" type="text/html">
		<section class="input-section">
			<div class="input-field-wrapper">
				<input class="input" 
					type="<%=type%>"
					<% if (value) { %>
						value="<%=value%>"
					<% } %>
					<% if (pattern) { %>
						pattern="<%=pattern%>"
					<% } %>
					<% if (placeholder) { %>
						placeholder="<%=placeholder%>"
					<% } %>
					<% if (required) { %>
						required
					<% } %>
				>
				<a class="input-section-remove" href="#">x</a>
			</div>
			<div class="input-output">
				&lt;input<% if (type) { %> type="<%=type%>"<% } %><% if (value) { %> value="<%=value%>"<% } %><% if (pattern) { %> pattern="<%=pattern%>"<% } %><% if (placeholder) { %> placeholder="<%=placeholder%>"<% } %><% if (required) { %> required<% } %>&gt;
			</div>
			<div class="input-section-modifiers">
				<div class="input-section-modifier">
					<select name="type" id="input-section-modifier-type" class="input-section-modifier-type" form="modifiers-form">
						<option disabled selected>Set Input Type</option>
						<option value="text"<% if (type == 'text') { %> selected<% } %>>Text</option>
						<option value="number"<% if (type == 'number') { %> selected<% } %>>Number</option>
						<option value="tel"<% if (type == 'tel') { %> selected<% } %>>Telephone</option>
						<option value="email"<% if (type == 'email') { %> selected<% } %>>Email</option>
						<option value="url"<% if (type == 'url') { %> selected<% } %>>URL</option>
						<option value="search"<% if (type == 'search') { %> selected<% } %>>Search</option>
						<option value="datetime"<% if (type == 'datetime') { %> selected<% } %>>Datetime</option>
						<option value="date"<% if (type == 'date') { %> selected<% } %>>Date</option>
						<option value="time"<% if (type == 'time') { %> selected<% } %>>Time</option>
						<option value="month"<% if (type == 'month') { %> selected<% } %>>Month</option>
						<option value="week"<% if (type == 'week') { %> selected<% } %>>Week</option>
						<option value="color"<% if (type == 'color') { %> selected<% } %>>Color</option>
						<option value="range"<% if (type == 'range') { %> selected<% } %>>Range</option>
						<option value="password"<% if (type == 'password') { %> selected<% } %>>Password</option>
					</select>
				</div>
				<div class="input-section-modifier">
					<select name="pattern" id="input-section-modifier-type" class="input-section-modifier-pattern" form="modifiers-form">
						<option disabled selected>Set Validation Pattern</option>
						<option value="">No Pattern</option>
						<option value="[0-9]*"<% if (pattern == '[0-9]*') { %> selected<% } %>>Numbers only - [0-9]*</option>
						<option value="(\\d{5}?)"<% if (pattern == '(\\d{5}?)') { %> selected<% } %>>Short Zip Code - (\\d{5}?)</option>
						<option value="(\\d{5}([\\-]\\d{4})?)"<% if (pattern == '(\\d{5}([\\-]\\d{4})?)') { %> selected<% } %>>Extended Zip Code - (\\d{5}([\\-]\\d{4})?)</option>
						<option value="[0-9]{13,16}"<% if (pattern == '[0-9]{13,16}') { %> selected<% } %>>Credit/Bank Account - [0-9]{13,16}</option>
						<option value="[a-zA-Z0-9]+"<% if (pattern == '[a-zA-Z0-9]+') { %> selected<% } %>>Alphanumeric (No Spaces) - [a-zA-Z0-9]+</option>
						<option value="[a-zA-Z0-9\\s]+"<% if (pattern == '[a-zA-Z0-9\\s]+') { %> selected<% } %>>Alphanumeric (With Spaces) - [a-zA-Z0-9\\s]+</option>
					</select>
				</div>
				<div class="input-section-modifier input-section-modifier-full">
					<label><input class="input-section-required" name="required" type="checkbox" value="required" form="modifiers-form"<% if (required == 'required') { %> checked<% } %>>Make This Input Required</label>
				</div>
			</div>
		</section>
	</script>
	<script src="js/main.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-1750291-29', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>