%clearfix {

	&:after {
		clear: both;
		content: "";
		display: table;
	}

}

%sidebyside-half {

	> * {
		float: left;
		width: 49%;

		&:nth-child(odd) {
			margin-right: 1%;
		}

		&:nth-child(even) {
			margin-left: 1%;
		}
	
	}

}

%list-inline {

	li {
		display: inline;
	}

}

%list-centered {
	text-align: center;
}