@import url(//fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic);

body {
	color: var(--color-text);
	font-family: var(--font-family-primary);
	font-size: var(--base-font-size);
	font-weight: 400;
}

p {
	margin: 0 0 var(--spacing-vertical) 0;
}