/* Color pallette: http://coolors.co/454851-73956f-7bae7f-95d7ae-cdc5b4 */

$color-white: #fff;
$color-blue: #454851;
$color-tan: #cdc5b4;
$color-orange: #ffa630;
$color-green: #7bae7f;

$font-family-droid: 'Droid Serif', serif;
$font-family-oswald: 'Oswald', sans-serif;

$base-font-size: 15px;

$spacing-vertical: .75em;
$spacing-horizontal: .75em;

$transition-time: .2s;